
@{
    ViewBag.Title = "Crear";
}

<form>
    <div class="panel panel-default" >
        <div class="panel-heading">
            <h3 class="panel-title">Agregar Materia</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal col-lg-3" >
                <fieldset>
                    <div class="col-lg-offset-3">
                        <div class="form-group">
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputEmail" placeholder="N° Control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputEmail" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputEmail" placeholder="Apellidos">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10">
                                <select class="form-control" id="Carrera">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <br>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 " style="margin-left: 21px;">
                                <button type="reset" id="btnGuardar" class="btn btn-default">Guardar Cambios</button>
                                <button type="submit" class="btn btn-success">Cancelar</button>
                            </div>
                        </div>
                    </div>
                    
                </fieldset>
            </form>
        </div>
    </div>
</form>